{% extends 'blog/base.html' %}
{% load static %}
{% block main %}
    <div class="col-sm-10">
        <h3 class="text-white my-3">ABOUT PAGE</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Culpa vel unde consectetur nemo necessitatibus eum nesciunt blanditiis quaerat, 
            distinctio repellendus, earum laboriosam tempore esse, accusantium voluptatibus 
            ipsa est? Beatae rem nostrum quidem eum, temporibus hic error voluptas rerum nesciunt, 
            eius explicabo architecto assumenda, corrupti at!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, 
            corporis sint assumenda tempore molestiae iste corrupti facere sit alias, 
            eius consequatur minus amet deleniti veniam eum voluptate iusto numquam doloremque
             beatae ipsa? Error commodi labore, praesentium ipsa excepturi quas animi 
            suscipit corrupti odit aliquam porro.</p>
    </div>
{% endblock main %}
